* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container{
    background-color: rgb(255, 255, 255);
}

.row > *{
    border: 1px solid rgb(66, 125, 191);
}

.nav-item{
    background-color: rgb(72, 221, 235);/* color erco */
    border: 5px solid;

}

.row{
    background-color: rgb(246, 153, 36);/* color erco */
}
.row aside{ /* agrego clase a la predeterminada de bs para diferencias color de aside */
    background-color: rgb(66, 125, 191);/* color erco */
}
.row navBar{
    background-color: rgb(153, 153, 153);
}

.formulariosDobles{
    display: grid;
    height: 50vh;
}

