aside {
    background-image: linear-gradient($naranja_erco, $celeste_erco);
    width: 100vw;
    border-right: 2px solid $celeste_erco;
    padding: 15px;
  
    h2 {
      color: $azul_erco;
      margin-bottom: 0.5rem;
    }
  
    p {
      line-height: 1.6;
    }
  }