aside {
    background-color: white;
    width: 100vw;
    border: 1px solid $azul_erco;
  
  
    h1 {
      @include tituloAside($azul_erco, 45px);
      margin-bottom: 0.5rem;
    }
    p {
      @include textoAside(black, 15px);
      line-height: 1.6;      
  }
}