aside {
    background-color:$naranja_erco;
    border-right: 2px solid $celeste_erco;
    padding: 15px;
  
    h2 {
      color: $azul_erco;
      margin-bottom: 0.5rem;
    }
  
    p {
      line-height: 1.6;
    }
  }