footer{
    width: 100vw;
    background-image: linear-gradient( to left, $azul_erco, $celeste_erco);
    font-style: oblique $azul_erco;
    p{
        text-align: center;
        text-decoration: underline;
    }
}