footer{
    width: 100vw;
    background-image: linear-gradient($celeste_erco, $azul_erco, $gris_erco, $naranja_erco);
    border: 1px solid $azul_erco;
    font-style: oblique $azul_erco;
    p{
        text-align: center;
        text-decoration: underline;
    }
    a{
        text-decoration: none;
        color: $gris_erco;
    }
}