header {
  background-image: linear-gradient($naranja_erco, $gris_erco, $azul_erco, $celeste_erco);
    padding: 10px;
  
    .nav {
      .nav-link {
        color: rgb(219, 16, 152);
        text-transform: uppercase;
        transition: color 0.5s;
  
        &:hover {
          color: $celeste_erco;
        }
      }
  
      .nav-link.active {
        font-weight: bold;
        border-bottom: 2px solid white;
      }
    }
  }