main{
    background-color: white;
    border: 1px solid $azul_erco;
    h1{
        color: $naranja_erco;
    }
    .carousel-inner{
        border: 5px solid $celeste_erco;
    }
    

}
.animaciones{
    img{
        border: 2px solid black;
    }
    img:hover{
        transform: scale(0.5);

    }
}
.botonWhats{
    position: fixed;
    top:5px;
    right: 50px;
}
.carousel-inner img {
    max-width: 100%;
    max-height: 600px; /* Maximo de altura */
    object-fit: contain; /* Para mantener la proporción */
  }

.card img{
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}
.tituloCards{
    font-size: 40px;
    color: $gris_erco;
    text-align: center;   
}
